[access]
	inheritFrom = All-Projects
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group Maintainers - I9100
	label-Code-Review = -2..+2 group Maintainers - N7000
	label-Code-Review = -2..+2 group user/Dominik Baronelli DerTeufel (DerTeufel)
	label-Code-Review = -2..+2 group user/Javi Ferrer (javi.f.o)
	submit = group Maintainers - I9100
	submit = group Maintainers - N7000
	submit = group user/Javi Ferrer (javi.f.o)
